################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WhereOnEarthBot/v16
/.vs/WhereOnEarthBot/DesignTimeBuild
/DailyBingChallengeBot.Tests/bin/Release/netcoreapp2.1
/DailyBingChallengeBotDeployment/bin/Release/staging/WhereOnEarthBotDeployment
/DailyBingChallengeBot.Tests/obj/Release/netcoreapp2.1
/DailyBingChallengeBot.Tests/obj
/DailyBingChallengeChooserBot/Properties/PublishProfiles
